@import url("my-fonts.css");

/* Full-width container and centered images */
img {
  display: block; /* Makes the image act as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 100%; /* Keeps images responsive */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

/* Centering with padding and hover effect */
img:hover {
  transform: scale(1.05);
}

.tip.custom-block.github-alert {
  background-color: #272a2f !important;
}
