@import url("inter.css");

:root {
  --vp-font-family-base: "Inter", Arial;
  --vp-font-family-mono: JetBrainsMonoNerdFontMono, monospace;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.mermaid {
  font-family: "JetBrainsMonoNerdFontMono", monospace;
}

/* Regular */
@font-face {
  font-family: "JetBrainsMonoNerdFontMono";
  src: url("./fonts/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "JetBrainsMonoNerdFontMono";
  src: url("./fonts/JetBrainsMonoNerdFontMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "JetBrainsMonoNerdFontMono";
  src: url("./fonts/JetBrainsMonoNerdFontMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: "JetBrainsMonoNerdFontMono";
  src: url("./fonts/JetBrainsMonoNerdFontMono-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
